<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment_3</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />

    <style>
      body {
        background-color: rgb(2, 2, 60);
      }
      h1 {
        background-color: grey;
        color: yellow;
        padding: 100;
        text-align: center;
      }

      h2 {
        color: yellow;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <h1>The name of our company is: <%-companyName %></h1>
    <h2>Email is: <%-companyEmail %></h2>
    <h2>Date of request is: <%-companyDate %></h2>
  </body>
</html>
