<table>
  <tr>
    <td>
      <div class="image">
        <a href="https://facebook.com/">
          <img src="pictures/facebook.jpg" alt="facebook" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://instagram.com/">
          <img src="pictures/instagram.jpg" alt="instagram" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://twitter.com/">
          <img src="pictures/twitter.jpg" alt="twitter" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://youtube.com/">
          <img src="pictures/youtube.jpg" alt="youtube" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://linkedin.com/">
          <img src="pictures/linkedin.jpg" alt="linkedin" />
        </a>
      </div>
    </td>
  </tr>
</table>
